force-app/main/default/flows/Choose_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Session_to_List</name>
        <label>Add Session to List</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>SessionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SessionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Load_Sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Survey_to_List</name>
        <label>Add Survey to List</label>
        <locationX>754</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>SurveyList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SurveyRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Load_Surveys</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Session</name>
        <label>Assign Session</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SessionRecord.Instructor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instructors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionRecord.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Study_Participant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionRecord.sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Sessions.sequence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionRecord.Session_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Sessions.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionRecord.Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionRecord.Session_Focus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Sessions.Short_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionRecord.Session_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Sessions.Subtype__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Session_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey</name>
        <label>Assign Survey</label>
        <locationX>754</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SurveyRecord.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>study_participant_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyRecord.sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Surveys.sequence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Surveys.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyRecord.Survey_Focus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Surveys.Short_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Survey_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Session_or_Survey</name>
        <label>Session or Survey</label>
        <locationX>358</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Load_Surveys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Load Survey</defaultConnectorLabel>
        <rules>
            <name>Load_Session</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>templateType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>templateType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PCT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Sessions</targetReference>
            </connector>
            <label>Load Session</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ExistingTemplates</name>
        <dataType>String</dataType>
        <displayField>Type__c</displayField>
        <object>Template_Master__c</object>
        <outputAssignments>
            <assignToReference>selected_template</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>templateType</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Instructors</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Staff</stringValue>
            </value>
        </filters>
        <object>Study_Participant__c</object>
        <outputAssignments>
            <assignToReference>instructorId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StudyParticipants</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enrollment_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2020-01-01</dateValue>
            </value>
        </filters>
        <object>Study_Participant__c</object>
        <outputAssignments>
            <assignToReference>study_participant_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Choose Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Choose Template</label>
    <loops>
        <name>Load_Sessions</name>
        <label>Load Sessions</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Retrieve_Template_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Session</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_Session</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Load_Surveys</name>
        <label>Load Surveys</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <collectionReference>Retrieve_Template_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Survey</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_Survey</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_Session</name>
        <label>Save Session</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <faultConnector>
            <targetReference>Session_Load_Error</targetReference>
        </faultConnector>
        <inputReference>SessionsList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Save_Survey</name>
        <label>Save Survey</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <faultConnector>
            <targetReference>Survey_Load_Error</targetReference>
        </faultConnector>
        <inputReference>SurveyList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Session_Load_Error</name>
        <label>Session Load Error</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Error Creating Sessions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Template.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Survey_Load_Error</name>
        <label>Survey Load Error</label>
        <locationX>930</locationX>
        <locationY>1094</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Error Creating Surveys</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Template.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Retrieve_Template_Details</name>
        <label>Retrieve Template Details</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Session_or_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template_Master__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selected_template</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Template_Detail__c</object>
        <sortField>sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Session</name>
        <label>Create Session</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Retrieve_Template_Details</targetReference>
        </connector>
        <fields>
            <name>Study_Participant</name>
            <choiceReferences>StudyParticipants</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>passedinrecordID</elementReference>
            </defaultValue>
            <fieldText>Study Participant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Instructor</name>
            <choiceReferences>Instructors</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Instructor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Available_Templates</name>
            <choiceReferences>ExistingTemplates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Templates</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>instructorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>passedinrecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>selected_template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TM_Session__c</objectType>
    </variables>
    <variables>
        <name>SessionsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TM_Session__c</objectType>
    </variables>
    <variables>
        <name>study_participant_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TM_Survey__c</objectType>
    </variables>
    <variables>
        <name>SurveyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TM_Survey__c</objectType>
    </variables>
    <variables>
        <name>Template</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Template_Master__c</objectType>
    </variables>
    <variables>
        <name>templateType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
