force-app/main/default/flows/Set_TM_Participant_Name_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Site_From_Account</name>
        <label>Set Site From Account</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name__r.Account.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the name = contact (parent) name</description>
        <name>Set_TM_Participant_Name</name>
        <label>Set Name From Contact</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name__r.FirstName}  {!$Record.Name__r.LastName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Site_From_Account</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountSet</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Name__r.AccountId}))</expression>
    </formulas>
    <interviewLabel>Set TM Participant Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set TM Participant Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_TM_Participant_Name</targetReference>
        </connector>
        <object>Study_Participant__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
